
        body {
            margin: 0;
        }

        .banner-image {
            background-color: rgb(232,185,104);
            background-size: cover;
        }

        .img img {
            position: absolute;
            width: 500px;
            /* margin-left: 10px;
      margin-top: 60px; */
            /* padding-left: 10px; */
            height: auto;
            bottom: 1px;
            right: 16px;
        }

        /* 
        .content {
            width: 800px;
        } */

        .banner-midle {
            background-image: url('../assets/pexels-ono-kosuki-5648398.png');
            background-size: cover;
            background-repeat: no-repeat;


        }

        .solucione-title {
            font-size: 40px;
            font-family: 'Alice', serif;
        }

        .banner-midle span {
            /* background-image: url('./assets/download.jpg');
      background-size: cover;
      background-repeat: no-repeat; */
            /* filter:drop-shadow(8px 8px 10px gray) */
            align-self: center;
        }

        .section-3 {
            background-image: url('./assets/pexels-alex-azabache-3250364.jpg');
            background-size: cover;
        }

        .section-3 img {
            /* max-width: fit-content;
            height: auto; */

        }

        .footer {
            color: white;
            background-color: rgb(34, 33, 50);
            height: 50px;
            text-align: center;
            padding-top: 15px;
        }

        .content {
            color: #767676;
            font-family: 'Raleway', sans-serif;
        }

        nav {
            background-color: transparent;
            height: 60px;
        }