* {
  margin: 0;
}

  
.banner-image {
  background-image: url("../assets/shutterstock_1670450323.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.title-home{
  color: rgb(244, 111, 70);
}

.texto-empregabilidade {
  padding-top: 60px;
  color: white;
  font-size: 30px;
  padding-left: 50px;
}
#navbar{
  float: right;
}
.items-nav ul{
  list-style: none;
  color: white;
  text-decoration: none;
}
.items-nav ul li{
  display: inline;
  float: right;

}
.items-nav ul li a{
  color: white;
  text-decoration: none;
}
nav {
  background-color: transparent;
  height: 60px;
}
.btn-saiba-mais {
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: rgb(244, 111, 70);
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.section2{
  background-color: rgb(232,185,104);
}
.section3{
  background-color: white;

}
.texto-docs{
  color: rgb(91,104,105);
  font-size: 30px;
  padding-top: 60px;
  padding-left: 100px;
}
.ajuda {
  background-color: rgb(91, 104, 105);
  /* padding-bottom: 30px; */
}

.logo-bottom {
  background-color: white;
  height: 180px;
  padding-left: 40%;
}
.logo-bottom-img {
  padding: 20px;
}
.img-empregabilidade img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: right;
}

.footer {
  color: white;
  background-color: rgb(34, 33, 50);
  height: 50px;
  text-align: center;
  padding-top: 15px;
}



